@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01rem;
}

:root{
    --title-color: #000000;
}

.container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a, .link, .modal-extraInfo{
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

a:hover, .link:hover{
    color: magenta;
    text-decoration-color: magenta;
}

.link{
    text-transform: uppercase;
    text-decoration: none;
}

.scramble{
    cursor: pointer;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: magenta;
    border: 1px solid magenta;
    border-radius: 100px;
    padding: 5px 10px;
}

button:hover{
    background-color: magenta;
    color: white;
    text-decoration: none;
}

.credits{
    text-align: right;
    width: 100%;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
}

.left-nav{
    display: flex;
    justify-content: space-between;
}

.right-nav{
    margin-bottom: 100px;
}

.info{
    padding: 30px 30px;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

.loading-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999999;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: blue;
    animation: opacityDrop 500ms forwards;
}

.loading-hand{
    display: none;
    animation: spin 1s infinite;
}

@keyframes opacityDrop{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    95%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-arrow{
    position: fixed;
    color: blue;
    bottom: 3%;
    right: 50%;
    font-size: 3rem;
    animation: arrowUpDown 1s infinite;
    transition: all 0.3s ease;
}

@keyframes arrowUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.name{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    animation: nameTiltRightLeft 5000ms infinite forwards;
    color: white;
    border: 1px solid magenta;  
    border-radius: 100px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: magenta;
    position: fixed;
    z-index: 999;
}

.name:hover{
    background-color: white;
    color: magenta;
}

.make-is-now{
    background-color: magenta;
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid magenta;
}

.make-is-now:hover{
    background-color: white;
    color: magenta;
    text-decoration-color: magenta;
}

@keyframes nameTiltRightLeft{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(5deg);
    }
    15%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.contact a{
    color: black;
}

.section-tite{ 
    margin-bottom: 10px;
    margin-top: 40px;
    color: var(--title-color);
    /* text-transform: uppercase; */
    /* font-style: italic; */
    color: blue;
}

.text, .event-description{
    line-height: 1.5rem;
    font-size: 1rem;
}

.year-container{
    display: flex;
    gap: 50px;
}

.event-container{
    margin-bottom: 30px;
}

.event-title{
    margin-bottom: 5px;
    color: blue;
}

.year-title{
    font-size: 1rem;
    color: blue;
}

/* project styling starts here */

/* Container and Grid Layout */
.projects-wrapper {
    padding: 30px 30px;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .projects-container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative; /* Make it a reference point for absolutely positioned elements */
  }
  
  /* Project Styling */
  .project {
    position: absolute; 
    aspect-ratio: 0.8;
    cursor: pointer;
    transition: all 0.5s ease-in-out; 
  }
  
  /* Image Styling */
  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  
  .custom-modal {
    background: #fff;
    padding: 30px;
    width: 90vw;
    max-width: 600px;
    position: relative;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
    overflow-y: scroll;
  }
  
  /* Close button styling */
  .close-modal-btn {
    position: absolute;
    width: 30px;
    aspect-ratio: 1;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;    
    color: magenta;
    border: 1px solid magenta;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-button-line{
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: magenta;
  }

  .lineOne{
    transform: rotate(45deg);
  }

  .lineTwo{
    transform: rotate(-45deg);
  }

  .close-modal-btn:hover{
    background-color: magenta;
    color: white;
  }

  .close-modal-btn:hover .close-button-line{
    background-color: white;
  }

  .modal-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 50%;
    color: white;
    margin-bottom: 20px;
    border: 1px solid magenta;
    background-color: magenta;
    border-radius: 100px;
    padding: 5px 10px;
    animation: nameTiltRightLeft 5500ms infinite forwards;

  }

  .modal-description{
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
  }

  .modal-extraInfo{
    font-size: 1rem;
    color: blue;
    margin-bottom: 20px;
  }

  .modal-image-navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .image-counter{
    font-size: 1rem;
    color: magenta;
  }

  .modal-image{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    height: auto;
  }

.wetrospective{
    display: none;
    position: fixed;
    width: 200px;
    height: 250px;
    background-color: rgb(213, 213, 213);
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    animation: tiltRightTiltLeft 1000ms infinite forwards;
    background-image: url("./assets/images//wetro_book_cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid magenta;
    cursor: pointer;
}


.dragMe{
    margin-top: -20px;
    background-color: magenta;
    color: white;
    transform: all 500ms ease;
}



.wetrospective:hover .dragMe{
    opacity: 0;
}
/* Animations */

@keyframes glitter-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes tiltRightTiltLeft{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes nameTiltRightLeft{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(5deg);
    }
    15%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}






/* Media Queries */

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }

    .info, .projects-wrapper{
        overflow-y: auto;
        height: auto;
    }

    .projects-container{
        grid-template-columns: 1fr 1fr;
    }

    .animated-arrow{
        display: none;
    }
}